<div *ngIf="member" class="card mb-4">
  <div class="card-img-wrapper">
    <img
      alt="{{ member.knownAs }}"
      class="card-img-top"
      src="{{ member.photoUrl || './assets/user.png' }}"
    />
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button
          class="btn btn-primary"
          routerLink="/members/{{ member.userName }}"
        >
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
      </li>
      <li class="list-inline-item">
        <button
          (click)="addLike(member)"
          *ngIf="!member.isLiked"
          class="btn btn-primary"
        >
          <fa-icon [icon]="faHeart"></fa-icon>
        </button>
        <button
          (click)="removeLike(member)"
          *ngIf="member.isLiked"
          class="btn btn-primary"
        >
          <fa-icon [icon]="faHeartCrack"></fa-icon>
        </button>
      </li>
      <li class="list-inline-item">
        <button
          [queryParams]="{ tab: 'Messages' }"
          [routerLink]="'/members/' + member.userName"
          class="btn btn-primary"
        >
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <fa-icon [icon]="faUser" class="me-2"></fa-icon>
      {{ member.knownAs }}, {{ member.age }}
    </h6>
    <p class="card-text text-muted text-center">
      {{ member.city }}
    </p>
  </div>
</div>
