<div class="card-footer">
  <div *ngIf="mediaFiles.length > 0 && files" class="send-media-preview">
    <div
      (fileOver)="onFileOver($event)"
      (onFileDrop)="addToQueue($event)"
      (onFileSelected)="addToQueue($event)"
      [ngClass]="{ 'file-over': isFileOver }"
      class="preview-wrapper"
      ng2FileDrop
      ng2FileSelect
    >
      <div
        (click)="openModal(f.file, mediaFiles[i].url)"
        *ngFor="let f of files; let i = index"
        class="media-preview"
      >
        <div
          (click)="removePreviewFile(f.id, mediaFiles[i].id)"
          class="close-button"
        >
          x
        </div>
        <img
          *ngIf="mediaFiles[i]?.url && f.file.type.split('/')[0] === 'image'"
          [src]="mediaFiles[i].url"
          alt=""
        />
        <video
          *ngIf="mediaFiles[i]?.url && f.file.type.split('/')[0] === 'video'"
          [src]="mediaFiles[i].url"
        ></video>
      </div>
    </div>
  </div>

  <div *ngIf="isTyping" class="is-typing mb-2">
    {{ otherUsername | titlecase }} is typing...
  </div>
  <form (ngSubmit)="onSubmitForm()">
    <div class="input-group">
      <div class="image-upload">
        <label
          (fileOver)="onFileOver($event)"
          (onFileDrop)="addToQueue($event)"
          (onFileSelected)="addToQueue($event)"
          [ngClass]="{ 'file-over': isFileOver }"
          class="form-control"
          for="file-input"
          ng2FileDrop
          ng2FileSelect
        >
          <fa-icon [icon]="faImage"></fa-icon>
        </label>

        <input
          (onFileSelected)="addToQueue($event)"
          accept="image/*,video/*"
          id="file-input"
          multiple
          name="file-input"
          ng2FileDrop
          ng2FileSelect
          type="file"
        />
      </div>
      <input
        (fileOver)="onFileOver($event)"
        (input)="onInput()"
        (onFileDrop)="addToQueue($event)"
        [(ngModel)]="content"
        [ngClass]="{ 'file-over': isFileOver }"
        [required]="files != undefined"
        class="form-control input-sm"
        name="content"
        ng2FileDrop
        ng2FileSelect
        placeholder="Send a private message"
        type="text"
      />
      <div class="input-group-append">
        <button
          [disabled]="
            (((content && content.trim().length === 0) || !content) &&
              files == undefined) ||
            loading
          "
          [ngClass]="{
            disabled:
              (((content && content.trim().length === 0) || !content) &&
                files == undefined) ||
              loading
          }"
          class="btn btn-primary"
          type="submit"
        >
          Send
          <fa-icon *ngIf="loading" [icon]="faSpinner" [spin]="true"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
<app-media-modal
  *ngIf="mediaFile && file"
  [openedFileContent]="content"
  [openedFileSrc]="mediaFile"
  [openedFileType]="file.type.split('/')[0] === 'image' ? 0 : 1"
></app-media-modal>
